#introdezona {
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-family: 'Caprasimo', cursive;
    color: black
  


}
body{
    background-color:#D5BDAF ;
    ;
}
.titulozona{
    font-family: 'Anton', sans-serif;
    font-family: 'Caprasimo', cursive;
    color: #BC9DC7;
    text-align: center;
 }
 .imgzonaeste{
    width: 300px;
 }

.vistadezona{
    
}


